.nav{
    display: flex;
    align-items: center;
}

.space{
    flex-grow: 1;
}

.animation {
    position: relative;
    width: 80px;
    height: 40px;
    scale: 0.8;
    
 }
 .cookingPlate{
     position:absolute;
 }
 .world{
     border-radius: 100%;
     position: absolute;
     top: 10px;
     left: 25px
 }
 .link{
    text-decoration: none;
    padding: 1rem;;
 }

 .link:visited{
    color:inherit;
 }

 .link:hover{
    text-decoration: underline;
 }